# Aplicação Java
DB_URL=jdbc:mysql://localhost:3306/controle_alunos?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USER=controle
DB_PASSWORD=controle123

# Container MySQL
MYSQL_DATABASE=controle_alunos
MYSQL_USER=controle
MYSQL_PASSWORD=controle123
MYSQL_ROOT_PASSWORD=root123
MYSQL_PORT=3306
